@font-face {
  font-family: 'OptimusPrinceps';
  src: url(assets/font/OptimusPrinceps.ttf);
}

body {
  background-image: url(assets/img/firelink.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff; /* White text color */
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 1.25rem;
}

html {
  animation: ease;
}

h1 {
  font-size: 1.875rem;
  margin: 0.625rem;
  font-family: OptimusPrinceps;
  font-style: oblique;
}

h2 {
  font-size: 1.063rem;
  font-family: OptimusPrinceps;
  color: #c2c2c2;
  margin: 0.7rem;
}

img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: block;
}

p {
  color: grey;
  font-family: OptimusPrinceps;
}

.collapsible {
  background-color: #222;
  color: #fff;
  cursor: default;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 0.938rem;
  max-width: 27.5rem;
  background: rgba(39, 37, 37, 0.8);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.438rem);
  -webkit-backdrop-filter: blur(0.438rem);
  border: 0.063rem solid rgb(115, 112, 112);
}

.collapsible:hover {
  animation: boing 0.5s infinite;
}

.collapsible:active {
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  transition: border-radius 0.1s ease-in-out;
}

.active {
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  transition: border-radius 0.1s ease-in-out;
}

.content {
  background-color: #363636;
  margin: 0rem auto 0.938rem;
  max-width: 25.25rem;
  background-color: #222;
  padding: 2.5rem;
  padding: 0 1.125rem;
  max-height: 0;
  overflow: hidden;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  transition: max-height 0.2s ease-in-out;
  background: rgba(39, 37, 37, 0.9);
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.438rem);
  -webkit-backdrop-filter: blur(0.438rem);
}

.profile {
  margin: 0 auto;
  margin-bottom: 0.938rem;
  max-width: 25rem;
  background-color: #222;
  padding: 1.25rem;
  background: rgba(39, 37, 37, 0.8);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.438rem);
  -webkit-backdrop-filter: blur(0.438rem);
  border: 0.063rem solid rgb(115, 112, 112);
}

.social-media {
  margin: 1.5rem;
}

.social-icon {
  display: inline-block;
  margin: 0.2rem 1rem;
  width: 2.188rem;
  height: 2.188rem;
}

.social-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

a.social-icon img:hover {
  transition: 0.5s;
  animation: boing 0.5s infinite;
}

#begin {
  margin-top: 20px;
  margin-bottom: 20px;
}

#end {
  margin-bottom: 30px;
  margin-top: 20px;
}

#divider {
  max-width: 80%;
  margin: 1rem auto;
}

#hours {
  margin-top: -0.5rem;
}

#profilepicture {
  margin: 5px auto 0px;
  border: solid 2.5px rgb(115, 112, 112);
}

#profilepicture:hover {
  animation: boing 0.5s infinite;
}

#pronouns {
  font-size: 13px;
  color: grey;
  margin-top: -0.8rem;
}

#something {
  max-width: 80%;
  margin: 10px auto 10px auto;
}

#wipnote {
  margin-bottom: 1px;
}

#wrapper {
  max-width: 80%;
  margin: auto auto;
}

@keyframes boing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotato {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}